* {
	box-sizing: border-box;
}

p {
	padding: 0;
	margin: 0;
}

a:link {
	text-decoration: none;
	color: inherit;
}

a:visited {
	text-decoration: none;
	color: inherit;
}

#wrapper {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

.box {
	border: 1px solid black;
	background: grey;
}

.float-left {
	float: left;
}

.float-right {
	float: right;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

#hamburger {
	display: none;
	width: 75px;
	height: 50px;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
	margin: 0;
}

header {
	width: 100%;
	border: 1px solid black;
	background: grey;
}

li {
	display: inline-block;
	height: 50px;
	width: 75px;
	margin-bottom: 10px;
	margin-right: 5px;
}

#hero {
	width: 100%;
	height: 200px;
}

.content {
	height: 200px;
	width: 25%;
	margin: 5px 0;
}

.footer-box {
	height: 100px;
	width: 33.3%;
	margin: 5px 0s;
}

.burg1, .burg2, .burg3 {
	width: 35px;
	height: 5px;
	border-radius: 30%;
	background-color: black;
	margin: 8px auto;
	transition: .3s;
}

.change .burg1 {
	transform: rotate(-45deg) translate(-9px, 8px);
	background-color: darkred;
}

.change .burg2 {
	opacity: 0;
}

.change .burg3 {
	transform: rotate(45deg) translate(-9px, -10px);
	background-color: red;
}

/*                    Mobile CSS style
*/

@media screen and (max-width: 760px) {
	.content {
		width: 50%;
		transform: rotate(360deg);
		transition: .5s;
		background-color: green;
	}

	.footer-box {
		float: none;
		width: 100%;
		height: 75px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#hero {
		background-color: yellow;
		transform: rotate(360deg);
		transition: .5s;
	}
}

@media screen and (max-width: 480px) {
	html {
		font-size: 36px;
	}

	#wrapper {
	width: 95%;
	}

	ul {
		display: none;
	}

	header {
		height: 50px;
	}

	#hero {
		height: 150px;
		margin-top: 5px;
		padding-top: 15px;
	}

	.content {
		float: none;
		width: 100%;
		height: 100px;
	}

	.footer-box {
		float: none;
		width: 100%;
		height: 75px;
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#hamburger {
		display: inline;
		font-size: 48px;
		margin-top: -1px;
	}
}








