body {
	text-align: center;
}

h1 {
	font-size: 40px;
	color: white;
	padding-top: 50px;
}



input {
	margin-top: 15px;
	width: 150px;
}

button {
	margin-top: 15px;
}

#temperatureBox {
	height: 250px;
	width: 250px;
	background: red;
	margin: 0 auto;
}