
/* Colors
**Darkest to lightest

1.  #516468  RGB: 81, 100, 104
2.  #79969C  RGB: 121, 150, 156
3.  #93B7BE  RGB: 147, 183, 190
4.  #B0CACF  RGB: 176, 202, 207
5.  #CDDEE1  RGB: 205, 222, 225


*/

/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/*-----------------------------------------GENERAL STYLES*/
a:link {
  text-decoration:none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
	font-size: 36px;
	text-align: center;
	font-weight: 500;
	color: white;
	padding-top: 10px;
}

#big {
  font-size: 84px;
}

a {
  color: white;
  padding: 15px 0;
}

ul {
  padding-top: 200px;
}

li {
  text-align: center;
  font-size: 32px;
  padding-top: 50px;
  padding-bottom: 50px;
}


/*-----------------------------------------NAV STYLES*/

#desktop-nav {
  display: none;
}

#mobile-nav {
  width: 98%;
  height: 100px;
  
  position: absolute;
  top: 10px;
  left: 1%;
  z-index: 99;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.logo {
  width: 80%;
  height: 100%;
  background-color: #79969C;
}

.hide {
	display: none;
}

/*-----------------------------------------HAMBURGER STYLES*/
#hamburger {
  width: 20%;
  height: 100%;
  background-color: #B0CACF;
}

.burg1, .burg2, .burg3 {
  width: 55px;
  height: 7px;
  background-color: black;
  margin: 9px auto;
  transition: .3s;
}

.burg1 {
  margin-top: 25px;
}

.change .burg1 {
	transform: rotate(-45deg) translate(-12px, 12px);
	background-color: #79969C;
	height: 9px;
}

.change .burg2 {
	opacity: 0;
}

.change .burg3 {
	transform: rotate(45deg) translate(-12px, -12px);
	background-color: #516468;
	height: 9px;
}

#menu-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(176, 202, 207, 1);
  position: fixed;
  top: 0;
  left: 0;
  transition: .2s;
}

/*-----------------------------------------MAP STYLES*/
.map {
  /*height: 900px;*/
  height: 95vh;
  width: 100%;
}

/*-----------------------------------------FOOTER STYLES*/


footer {
  height: 5vh;
  background-image: url("../images/Topographic-Map-Pattern-5.png");
  text-align: center;
}

footer p {
  font-size: 24px;
  color: white;
  padding-top: 10px;
}

.footer-overlay {
  height: 5vh;
  background: rgba(255,160,122,.8);
}

#googleMap {
  height: 100%;
}


/*-----------------------------------------LAYOUT STYLES*/
.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}


/*-----------------------------------------MEDIA QUERIES*/

@media screen and (min-width: 768px) {
  
}

@media screen and (min-width: 1024px) {
  #mobile-nav {
    display: none;
  }
  
  #desktop-nav {
    display: block;
  }
}