
/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/*-----------------------------------------GENERAL STYLES*/
a:link {
  text-decoration:none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
	font-size: 60px;
	text-align: center;
	font-weight: 500;
	color: white;
}

#big {
  font-size: 84px;
}

ul {
	font-size: 24px;
}

a {
  color: white;
}

li {
  padding: 20px 0;
  text-align: center;
}


/*-----------------------------------------NAV STYLES*/

aside {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navLinks {
	background: #BD632F;
	height: 327px;
	width: 250px;
}

.navLinks img {
  display: block;
  margin: 0 auto;
  padding: 0;
  height: 40px;
}

.navLinks p {
  padding-top: 5px;
}

.logo {
  background: #DBB74C;
  height: 250px;
  width: 250px;
}

.logo img {
  margin: 25px;
}

.hide {
	display: none;
	margin-left: 35px;
}

#current-page {
  border-left: 4px solid #576784;
  background-color: rgba(255,255,255,.2);
  padding-right: 4px;
}

/*-----------------------------------------MAP STYLES*/
.map {
  /*height: 900px;*/
  height: 95vh;
  width: 100%;
}

footer {
  height: 5vh;
  background-image: url("../images/Topographic-Map-Pattern-5.png");
  text-align: center;
}

footer p {
  font-size: 24px;
  color: white;
  padding-top: 10px;
}

.footer-overlay {
  height: 5vh;
  background: rgba(255,160,122,.8);
}

#googleMap {
  height: 100%;
  
}

/*-----------------------------------------MODAL STYLES*/


.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
      
.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  /*padding-top: 10px;*/
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /*background-color: rgb(0,0,0);*/
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  background-color: white;
  height: 600px;
  width: 800px;
  margin: 5% auto;
  padding: 0px;
  border: 3px solid #5cb85c;
}

.close {
  color: #fff;
  float: right;
  font-size: 48px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal img {
  height: 250px;
  display: block;
  padding: 0;
}

.modal h1 {
  color: #5cb85c;
  font-size: 60px; 
}

.modal-footer img {
  height: 16px;
  display: inline;
  transform: rotate(-90deg);
}

/*-----------------------------------------LAYOUT STYLES*/
.floatLeft {
	float: left;
}

.floatRight {
	float: right;
}