* {
  box-sizing: border-box;
}

/*-----------------------------------------GENERAL STYLES*/

body {
  width: 960px;
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
}

h1 {
  font-size: 40px;
  color: white;
  font-weight: 800;
  padding: 25px 0 0 35px;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  color: #033048;
  padding-bottom: 20px;
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  text-decoration: none;
}

.wrapper {
  background: #f0efef;
}


/*-----------------------------------------HEADER STYLES*/

#header-left {
  float: left;
  width: 25%;
}

#header-right {
  float: right;
  width: 75%;
}

header {
  background: #033048;
  height: 100px;
}

header li {
  display: inline;
  font-size: 24px;
  font-weight: 600;
  padding-right: 30px;
}

header ul {
  float: right;
  margin-right: 20px;
  margin-top: 35px;
}

header a:link {
  color: #f9e42e;
}

header a:hover {
  color: #f9e42e;
}

header a:visited {
  color: #f9e42e;;
}


/*-----------------------------------------ARTICLE STYLES*/

.blog-post {
  margin: 35px;
  margin-top: 40px;
  /*border: 1px solid black;*/
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}

.blog-post p {
  /*font-size: 24px;    TOO BIG!!!*/
  font-size: 20px;
  line-height: 150%;
  font-weight: 300;
  color: #606161;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: justify;
}

.blog-post a {
  font-size: 24px;
  font-weight: 600;
  color: #033048;
  display: block;
  text-align: right;
}

.drop-cap {
  float: left;
  color: #606161;
  font-size: 60px;
  font-weight: 600;
  line-height: 100%;
  padding-right: 10px;
}

.blog-post img {
  margin: 10px 0;
  width: 100%;
}


/*-----------------------------------------ASIDE STYLES*/

.sidebar {
  margin: 40px 35px 50px 35px;
  /*border: 1px solid black;*/
}

.sidebar h3 {
  font-size: 32px;
  font-weight: 800;
  color: #033048;
  padding-bottom: 10px;
}

.sidebar p {
  line-height: 150%;
}

.sidebar p,
li {
  /*font-size: 24px;    TOO BIG!!*/
  font-size: 20px;
  font-weight: 300;
  color: #033048;
  padding: 5px 0;
}

.sidebar a {
  /*font-size: 24px;    TOO BIG!!*/
  font-size: 20px;
  font-weight: 600;
  color: #033048;
}

.sidebar img {
  width: 100%;
}


/*-----------------------------------------FOOTER STYLES*/

footer {
  background: #121212;
  text-align: center;
  margin-top: 40px;
}

footer h1 {
  color: #f9e42e;
  padding: 40px 0;
  
}

footer p {
  color: white;
  padding: 40px 0 20px 0;
}

button {
  border-radius: 10px;
  background: #033048;
  color: white;
  font-size: 18px;
  font-weight: 600;
  width: 300px;
  height: 50px;
  border: none;
}

button a:visited {
  color: white;
}

.button {
  background: #f9e42e;
  padding: 20px 0;
}

footer img {
  margin: 0 30px;
}

/*-----------------------------------------LAYOUT STYLES*/

.gutter {
  /*border: 1px solid black;*/
  float: left;
  width: 20px;
}

.float-left {
  float: left;
  width: 700px;
}

.float-right {
  float: right;
  width: 240px;
}

.clear {
  clear: both;
}