* {
  box-sizing: border-box;
}

/*-----------------------------------------GENERAL STYLES*/

body {
  width: 1024px;
  font-family: 'Source Sans Pro', 'Oswald', 'Merriweather', sans-serif;
  margin: 0 auto;
}

h1 {
  font-family: 'Merriweather', sans-serif;
  color: #D8A835;
  font-size: 34px;
  font-weight: 700;
  padding: 15px 0 15px 30px;
  letter-spacing: 1px;
}

h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 32px;
  font-weight: 700;
}

h3 {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-size: 30px;
  font-weight: 700;
  padding: 15px 0 15px 40px;
}

strong {
  font-family: 'Oswald', sans-serif;
  font-size: 26px;
  font-weight: 700;
}

li {
  font-family: 'Source Sans Pro', sans-serif;
  display: inline;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 700;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


/*-----------------------------------------HEADER STYLES*/

header {
  background: black;
  border-bottom: 3px solid #D8A835;
  color: white;
  height: 120px;
}

header a:link {
  color: white;
}

header a:visited {
  color: white;
}

header a:hover {
  color: #D8A835;
}

/*-----------------------------------------MAIN CONTENT*/

.main-content {
  background: #A6A7A8;
}

.main-content p {
  color: black;
  text-align: center;
  padding: 20px 0;
  font-family: 'Merriweather', sans-serif;
  font-size: 28px;
  font-weight: 700;
  font-style: italic;
}

.main-content button {
  background: #D8A835;
  width: 300px;
  height: 50px;
  border: 1px solid #D8A835;
  border-radius: 2px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 20px;
  box-shadow: 0 3px 5px 0 #B18A2C;
}

.main-content a:link {
  color: black;
}

.main-content a:visited {
  color: black;
}

.main-content a:hover {
  color: black;
}

.strikethrough {
  text-decoration: line-through;
  color: grey;
}
.highlight {
  border-bottom: 3px solid #D8A835;
}


.hero-image {
  height: 500px;
  background-image: url("../images/coworking.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.profile {
  border: 1px solid black;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 35px;
}

.profile p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  text-align: left;
  padding: 20px 30px 20px 0;
  line-height: 1.3;
}

/*-----------------------------------------SECONDARY CONTENT*/

.secondary-content p {
  color: black;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
  padding: 0 30px 10px 40px;
}

.secondary-content button {
  color: black;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 20px;
  width: 250px;
  height: 50px;
  background: #A6A7A8;
  border-radius: 2px;
  border: 1px solid #A6A7A8;
  text-align: center;
  margin-left: 40px;
  margin-bottom: 20px;
  box-shadow: 0 3px 10px 0 black;

}

.secondary-content a:link {
  color: black;
}

.secondary-content a:visited {
  color: black;
}

.secondary-content a:hover {
  color: black;
}


.special-border {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
}

/*-----------------------------------------FOOTER STYLES*/

footer {
  background: black;
  color: white;
  height: 75px;
}

footer p {
  padding-left: 15px;
  padding-top: 25px;
  font-weight: 600;
}


/*-----------------------------------------LAYOUT STYLES*/


.float-left {
  float: left;
  width: 33.33%;
}

.float-right {
  float: right;
}

.float-right-hover {
  float: right;
  width: 350px;
  margin-right: 50px;
}


.clear {
  clear: both;
  height: 10px;
}

